#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
        zmk,encoder = &left_encoder;
    };

    /* Khai báo Encoder EC11 */
    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <80>;
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
        triggers-per-rotation = <20>;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "row2col";

        row-gpios
            = <&gpio0 20 GPIO_ACTIVE_HIGH> /* Số 3 (Hàng 1) */
            , <&gpio0 24 GPIO_ACTIVE_HIGH> /* Số 4 (Hàng 2) */
            ;

        col-gpios
            = <&gpio1 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* Số 1 (Cột 1) */
            , <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* Số 2 (Cột 2) */
            , <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* Số 5 (Cột 3) */
            , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* Số 6 (Cột 4) */
            ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <4>;
        rows = <2>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3)
        >;
    };
};
